<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473310161227-0kb3ee969k850696gsef6dn88b64v7ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473310161227-0kb3ee969k850696gsef6dn88b64v7ca</string>
	<key>API_KEY</key>
	<string>AIzaSyAsbE8QzbWFsPRbnFf_IvoaEZ_DqdxQniY</string>
	<key>GCM_SENDER_ID</key>
	<string>473310161227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.onlinecourse</string>
	<key>PROJECT_ID</key>
	<string>iiuc-help-desk</string>
	<key>STORAGE_BUCKET</key>
	<string>iiuc-help-desk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473310161227:ios:f54797f2caa4c966d8e0ce</string>
</dict>
</plist>